{{#each this}}
<div class="box">
    <h1>{{name}}</h1>
    <div class="container">
        <div class="info-container">
            <ul>
                <li>
                    <p>Capital: <span class="value">{{capital}}</span></p>
                </li>
                <li>
                    <p>Population: <span class="value">{{population}}</span> </p>
                </li>
                <li>
                    <p>Region: <span class="value">{{region}}</span> </p>
                </li>
                <li>
                    <p>Subregion: <span class="value">{{subregion}}</span> </p>
                </li>

                <li>
                    <p>Language</p>
                    <ul class=" lang-list">
                        {{#each languages}}
                        <li class="dash"><span class="value">{{this.name}}</span></li>
                        {{/each}}
                    </ul>
                </li>
                <li>
                    <p>Currencies</p>
                    <ul class=" country-currencies">
                        {{#each currencies }}
                        <li class="dash"><span class="value">{{this.name}}</span> </li>
                        {{/each}}
                    </ul>

                </li>
                <li>
                    <p>Borders</p>
                    <ol class="country-border">
                        {{#each borders }}
                        <li><span class="value">{{this}}</span></li>
                        {{/each}}


                    </ol>
                </li>
            </ul>
        </div>
        <div class="flag-container">
            <img class="flag-img" src="{{flag}}" alt="{{name}}">
        </div>
    </div>
</div>
{{/each}}